body {
  margin: 0;
  font-size: 28px;
  font-family: Proxima Nova;
  background-color: #020312;
  overflow-x: hidden;
  
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: gray; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f26c4f; 
}

.navbar {
  overflow: hidden;
 
  transition: background-color 0.3s ease-in, transform 0.3s ease-in; /* Add transform transition */
}

.logo{
border-top-left-radius: 20px;
border-bottom-right-radius: 20px;
font-weight: 600 ;
}
.logo a{
color: whitesmoke !important;
font-size: 20px !important;
font-family: cursive;
}
.logo a:hover{
  color: #f26c4f !important;
}

.navbar a {
 color: whitesmoke;
font-size: 18px !important;
  display: block;
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
}
/* 
.navbar a:hover {
 text-decoration: underline 2px #f26c4f;
  color: #f26c4f;

} */
.hvr-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-color: #f26c4f;
  border-radius: 20px;
  border-style: solid;
  border-width: 0;
  -webkit-transition-property: border-width;
  transition-property: border-width;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-reveal:hover:before, .hvr-reveal:focus:before, .hvr-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  border-width: 4px;
}

.nav-link
{
  position: relative;
  left: 26em;

}
.navbar-nav a{
  margin-left:20px ;
  margin-right:20px;

}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  transform: translateY(-100%); /* Initial position above the viewport */
}

.sticky.active {
  transform: translateY(0); /* Slide down to the viewport */
}



/* Add your custom styles here */
.navbar-blue {
  background-color:whitesmoke;
}
.navbar-blue a{
  color: black !important;
}

.navbar-orange {
  background-color: linear-gradient(135deg, #020312, #04061f); 

}
.navbar-orange a{
  color: whitesmoke !important;
}

.herosection{
  width: 100%;
  height: 500px;  
    background: linear-gradient(135deg, #020312, #04061f);
}
.slide-in-top {
	-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


 @-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}


.hero-content{
  position: relative;
  top: 20%;
  text-decoration: none;

}
.hero-content a{
  text-decoration: none;
}
.hero-content i{
  margin-left:10px ;
  margin-right: 10px;
  color: #333;
  text-decoration: none ;

}
.hero-content i:hover{
  color:#f26c4f;

}
.hero-content h1{
  font-weight: 500;
  color: whitesmoke;
  font-size: 50px;
}
.typewriter{
  border: 2px solid #f26c4f;
  width: 30%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

}
.typewriter h3 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  /* letter-spacing: .15em; Adjust as needed */
  animation: 
    typing 2.5s steps(70, end) infinite,
    blink-caret .75s step-end infinite;
    text-align: left !important;
    margin-left: 10px !important; 
    color: whitesmoke;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  40% { border-color:transparent; }
}
.About{
display: flex;
justify-content:space-around;
color: #585a70;

}
.image img{
  height: 300px;
width:200%;
border-top-left-radius: 20px;
border-bottom-right-radius: 20px;


}
.about2 h5 {
width: 70%;
margin-left:30%;
font-weight: 600;

}
.about2 h2{
margin-left: 30%;
width: 20%;

}


.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background-color: #020312;
  border-color: whitesmoke;
  color: white;
  border-radius: 0px;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f26c4f;
  color: whitesmoke;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#Skills{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.skill1{
  width: 70%;
}
.skill2{
  
  margin-left: -30%;
  width: 100%;
}
.Skills .container{
  position: relative;
  max-width: 500px;
  width: 100%;

  margin: 0 15px;
  padding: 10px 20px;
  border-radius: 7px;
}
.container .skill-box{
  width: 100%;
  margin: 25px ;
}
.skill-box .title{
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: whitesmoke;
}
.skill-box .skill-bar{
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(0,0,0,0.1);
}
.skill-bar .skill-per{
  position: relative;
  display: block;
  height: 50%;
  width: 90%;
  border-radius: 6px;
  background: #f26c4f;
  animation: progress 2.4s ease-in-out  forwards;
  opacity: 0;
}
.skill-per.css{
  width: 70%;
  animation-delay: 0.1s;
}
.skill-per.javascript{
  width: 50%;
  animation-delay: 0.2s;
}
.tooltip{
  color: white !important;
}
@keyframes progress {
  0%{
      width: 0;
      opacity: 1;
  }
  100%{
      opacity: 1;
  }
}
.skill-per .tooltip{
  position: absolute;
  right: -14px;
  top: -28px;
  font-size: 9px;
  font-weight: 500;
  color: whitesmoke !important;
  padding: 2px 6px;
  border-radius: 3px;
  background: #f26c4f;
  z-index: 1;
}
.tooltip::before{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2px;
  height: 10px;
  width: 10px;
  z-index: -1;
  background-color: #f26c4f;
  color: whitesmoke;
  transform: translateX(-50%) rotate(45deg);

}
.getintouch div{
  align-items: center;
}
.Contact{
  display: flex;
  justify-content: space-around;
}
.contact2{
  width: 40%;
}
.contact2 label{
  font-size: 20px;
  color: whitesmoke;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #f26c4f;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: whitesmoke;
  color: #f26c4f;
}
.Services{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.services1{
  height: 450px;
width: 40%;}


.hvr-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  
}
.hvr-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-color: #f26c4f;
  border-style: solid;
  border-width: 0;
  -webkit-transition-property: border-width;
  transition-property: border-width;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-reveal:hover:before, .hvr-reveal:focus:before, .hvr-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  border-width: 4px;
}

/* responsive media query start */
@media (max-width: 1104px) {



}

@media (max-width: 991px) {
.nav-link{
  position: relative;
  left: 0px;
}
.typewriter{
  border: 2px solid #f26c4f;
  width: 60%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

}
.typewriter h3 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  /* letter-spacing: .15em; Adjust as needed */
  animation: 
    typing 2.5s steps(70, end) infinite,
    blink-caret .75s step-end infinite;
    text-align: left !important;
    margin-left: 10px !important; 
    color: whitesmoke;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  40% { border-color:transparent; }
}

 
}
@media (max-width: 947px){
 
  .nav-link{
    position: relative;
    left: 0px;
  }
  .typewriter{
    border: 2px solid #f26c4f;
    width: 60%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  
  }
  .typewriter h3 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    /* letter-spacing: .15em; Adjust as needed */
    animation: 
      typing 2.5s steps(70, end) infinite,
      blink-caret .75s step-end infinite;
      text-align: left !important;
      margin-left: 10px !important; 
      color: whitesmoke;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    40% { border-color:transparent; }
  }
  
 
}

@media (max-width: 690px) {

  .nav-link{
    position: relative;
    left: 0px;
  }
  .About{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    
    }
    .image img{
      height: 300px;
    width:100%;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
    
    }
    .about2 h5 {
    width: 50%;
    margin-left:30%;
    }
    .about2 h2{
    margin-left: 30%;}
}

@media (max-width: 500px) {

  .nav-link{
    position: relative;
    left: 0px;
  }
  .typewriter{
    border: 2px solid #f26c4f;
    width: 60%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  
  }
  .typewriter h3 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    /* letter-spacing: .15em; Adjust as needed */
    animation: 
      typing 2.5s steps(70, end) infinite,
      blink-caret .75s step-end infinite;
      text-align: left !important;
      margin-left: 10px !important; 
      color: whitesmoke;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    40% { border-color:transparent; }
  }
  
}
@media (max-width: 400px) {
  .navbar {
    overflow: hidden;
   
    transition: background-color 0.3s ease-in, transform 0.3s ease-in; /* Add transform transition */
  }
  .logo{
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-weight: 600 ;
    background-color: #f26c4f;
  }
  .logo a{
  color: whitesmoke !important;
  font-size: 20px !important;
  font-family: cursive;
  }
  
  .navbar a {
   color: whitesmoke;
  font-size: 18px !important;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
  }
  
  .navbar a:hover {
   text-decoration: underline 2px #f26c4f;
    color: #f26c4f;
  
  }
  .collapse a{position: relative;
    left: 0px;
  }
  
  .nav-link
  {
    position: relative;
    left: 26em;
  
  }
  .navbar-nav a{
    margin-left:20px ;
    margin-right:20px;
  
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: sticky;
    top: 0;
    width: 100%;
    transform: translateY(-100%); /* Initial position above the viewport */
  }
  
  .sticky.active {
    transform: translateY(0); /* Slide down to the viewport */
  }
 
  .navbar-blue {
    background-color:#f26c4f;
  }
  .navbar-blue a{
    color: black !important;
  }
  
  .navbar-orange {
    background-color:whitesmoke; 
  }
  .navbar-orange a{
    color: black !important;
  }
  .typewriter{
    border: 2px solid #f26c4f;
    width: 60%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  
  }
  .typewriter h3 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    /* letter-spacing: .15em; Adjust as needed */
    animation: 
      typing 2.5s steps(70, end) infinite,
      blink-caret .75s step-end infinite;
      text-align: left !important;
      margin-left: 10px !important; 
      color: whitesmoke;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    40% { border-color:transparent; }
  }
  .Contact{
    flex-wrap: wrap;
  }
}
.page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:black ;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.loader {
  display: inline-flex;
  gap: 10px;
}
.loader:before,
.loader:after {
  content: "";
  height: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side,#000 95%,#0000) 35% 35%/6px 6px no-repeat
    #fff;
  animation: l5 3s infinite;
}
@keyframes l5 {
  0%,11%   {background-position:35% 35%}
  14%,36%  {background-position:65% 35%}
  38%,61%  {background-position:65% 65%}
  64%,86%  {background-position:35% 65%}
  88%,100% {background-position:35% 35%}
}
.scale-out-ver-top {
	-webkit-animation: scale-out-ver-top 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: scale-out-ver-top 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}/* ----------------------------------------------
 * Generated by Animista on 2024-2-7 19:35:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-out-ver-top
 * ----------------------------------------
 */
@-webkit-keyframes scale-out-ver-top {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-out-ver-top {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}
